body{
    font-family: 'Ubuntu-R';
    src: url(Ubuntu-R.ttf);
    background-color: black;
    background-image: url(trevo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100vw;
    height: 100vh;
    color: white;
}
.btn{
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.btn:hover{
    background-color: antiquewhite;
}
form{
    border: solid 2px black;
    border-radius: 10px;
    width: 205px;
    height: 312px;
    margin: auto;
    padding: 10px;
}
h2{
    text-align: center;
    font-size: 1em;
    
}
h1{
    font-size: 1.5em;
    text-align: center;
    margin-top: 50px;
    
}
div{
    text-align: center;
}

@media (max-width:800px) {

    .banner {
        width: 100%;
        height: 100%;
    }
    form{
        width: 200px;
        height: 312px;
    }
}